
.project
.npmrc
.classpath
.settings/
target/
pnpmfile.jspackage.jsonpnpm-lock.yaml
tsconfig.jsontypes.d.tswebpack.config.jswebpack.generated.js
frontend/generated/
node_modules/

pnpmfile.js
